
:root{
    --primary-color: #6610f2; 
    --secondadry-color: #ea33be;
}


.btn{
    background-color: var(--primary-color);
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    color: #FFF;
}

.btn:hover{
    background-color: #FFF;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}